.body{
    top: 380px;
    background-color: #2e2e2e;
    display:inline-block;
    margin: 0px;
    height: auto;
}
.h1{
    color:#85e1e4f1;
    font-family:   fantasy;
    position: absolute;  
    left: 650px;
    top: 340px;
     
}
.h2{
    color:#a4fcff;
    align-items: center;
    display: inline;
    position: relative;
}
.h3{
    color:#a4fcff;
    align-items: center;
    display: inline;
    position: relative;
}

.p1{
    color:#a4fcff;
    position: absolute;
    left: 660px;
    top: 380px;
}

.mount{
    display: inline-block;
    height: 100%;
    position: relative;
    top: 0px;
    width:min-content;
    
}
 
.rain{
    display: inline; 
    position: absolute;
    top: 65px;
    width: 1270px;
    height: 600px;
}
 
 
.top{

    background-color: ivory;
    display:contents;
    position: relative;
    width:min-content;
}
.middle{
    align-items: center;
    display:inline-block;
    position: relative; 
}
.bottom{
    background-color: #0e0e1b;
    display:flex;
    position: relative;
}

/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0e0e1b;
    align-content: top;
    top: 0;
    width: 100%;
    left:0;
    display: flex;
    height: auto;
  }
  
  li {
    float: left;
    height: auto;
    display: grid;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #DFFFFE;
    color: #000;
    background: opacity 50%;
    margin: auto;
  }

  /*stump code classes*/
  .profile{
    align-items: center;
    display: inline;
    position: relative;
  }
  .footer-link{
      color: #DFFFFE;
      font-family:   'Gill Sans MT', Calibri;
      left: 40%;
      padding: 2px;
      position: relative;
      text-decoration: none;
      display: block;
      right: 50%;
      height: auto;
      width: auto;
  }